/node_modules
/apps/vim/bundle/scala-vim-support/
/apps/vim/bundle/vim-coffee-script/
/apps/vim/bundle/vim-colors-solarized/
/apps/vim/bundle/vim-jade/
/apps/vim/bundle/gist-vim/
/apps/zsh/grml.zsh
/bin/sbt-launch.jar
/apps/vim/bundle/vim-powerline/
/apps/vim/bundle/vim-fugitive/
/apps/vim/bundle/vim-git/
/apps/vim/bundle/vim-haml/
/apps/vim/bundle/vim-markdown/
/apps/vim/bundle/vim-rails/
/apps/vim/bundle/vim-rake/
/apps/vim/bundle/vim-tmux/
/apps/awesome/themes/darkblue/wallpapers/
/apps/vim/bundle/quicksilver.vim/
/apps/vim/bundle/vim-golang/
/apps/vim/bundle/VimClojure/
/apps/vim/bundle/webapi-vim/
/apps/vim/bundle/jellybeans.vim/
/apps/vim/bundle/vim-hybrid/
/apps/vim/bundle/octave.vim--/

bin/sbt-launch-0.12.0.jar
