[submodule "3rdparty/grml-etc-core.git"]
	path = 3rdparty/grml-etc-core.git
	url = git://git.grml.org/grml-etc-core.git
[submodule "3rdparty/vundle.git"]
	path = 3rdparty/vundle.git
	url = https://github.com/gmarik/vundle.git
[submodule "3rdparty/nvm.git"]
	path = 3rdparty/nvm.git
	url = https://github.com/creationix/nvm.git
[submodule "apps/vim/bundle/vundle"]
	path = apps/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
